.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: rgb(0, 0, 0, 0.4);
  border-radius: 10px; */
  margin-bottom: 12px;
}

.flag {
  width: 90%;
  max-height: 200px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.link {
  text-align: center;
  text-decoration: none;
}

.name,
.continent {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-weight: bolder;
  font-size: 25px;
  -webkit-text-stroke: 0.5px rgb(189, 189, 189);
}

.continent {
  font-size: 20px;
}
