.landing {
  background-image: url("../../images/img1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 980px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button {
  margin-bottom: 60px;
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #ffe600 50%, #ffee00 50%);
  border-style: none;
  border-radius: 30px;
  color: #000000;
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
}
